<!DOCTYPE html>
<html>
<head>
    {% set page_title = "Hotdish | Contact." %}
    {% set meta_desc = "Hotdish is a Minneapolis-based Design & Development studio working to make the internet a better place." %}
    {% set theme_color = "#000000" %}
    {% set share_title = "Hotdi.sh" %}
    {% set share_desc = "Hotdish is a Minneapolis-based Design & Development studio working to make the internet a better place." %}
    {% set share_url = "https://hotdi.sh/" %}
    {% set fb_img = "https://hotdi.sh/src/images/branding/meta/Facebook.png" %}
    {% set tw_img = "https://hotdi.sh/src/images/branding/meta/Twitter.png" %}


    {% include "../i/includes/header.html" %}
</head>
<body>

    <!-- Nav -->
    {% include "../i/includes/nav.html" %}


    <!-- 
        Hero
    -->
    <div class="hero xs-mb-30 lg-mb-50 xs-mt-75 md-mt-5 lg-mt-25">
        <!-- Hero Text -->
        <div class="hero-text xs-mt-50 md-mt-75 lg-mt-100">
            <h1>
                Get in touch.
            </h1>
            <h2 class="xs-mt-15 lg-mt-30">
                Whether you want to work on a project or just say hello, fill out the form below and we'll get back to you.
            </h2>
            <div class="image left down">
                <img src="/src/images/shapes/contact.png"/>
            </div>
            <div class="image right up">
                <img src="/src/images/shapes/contact-2.png"/>
            </div>
        </div>
    </div>



    <!-- 
        Page Layout
    -->

    <div class="hotdish-page xs-mt-25 md-mt-50 lg-mt-100 xs-mb-25 md-mb-50 lg-mb-100">
        <!-- <h1 class="page-header contact-header">We'd love to hear from you</h1> -->
        <p>
            We're based in Minneapolis and usually work with companies in and around Minnesota, but we're open to hear from anyone, anywhere!

            <div class="contact-form">
                Sorry, we've disabled this form temporarily.
                <b>Email hello@hotdi.sh if you need something.</b>
            </div>
        </p>
    </div>
    <!-- 
        Footer
    -->
    {% include "../i/includes/footer.html" %}
    
</body>
</html>
