// Home page specific styles
// Different Nav
// Custom elements
// Etc

header.home{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: @white;
    box-sizing: border-box;
    padding: 16px 15px;
    border: 1px solid @primary_dark;
    width: 96vw;
    margin: 0 auto;
    position: fixed;
    top: 40px;
    left: 2vw;
    box-shadow: 10px 10px 0px fade(@primary_darker, 20%);

    @media (max-width: @screen_mobile) {
        flex-wrap: wrap;
    }

    .header-branding{
        display: flex;
        text-decoration: none;

        @media (max-width: @screen_mobile) {
            order: 1;
        }

        .header-branding-logo{

            img{
                height: 34px;
                width: auto;
            }
        }
    }

    // Navs
    nav.main{
        display: flex;
        width: 40%;

        &.right{
            justify-content: flex-end;
        }

        // Change to stacked on mobile
        @media (max-width: @screen_mobile) {
            width: 100%;
            order: 2;
        }

        div.link{
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
        }

        a{
            font-size: 15px;
            display: block;
            text-decoration: none;
            margin: 0 12px;
            color: @primary_dark;
            font-family: @sans;
            font-weight: 400;

            &:hover,
            &:focus{
                cursor: pointer;
                color: @primary;
                text-decoration: underline;
            }
        }
    }
}

// Hero
// Hero
// Hero
.home-hero{
    display: flex;
    height: 100vh;

    .left,
    .right{
        width: 50%;
        flex-grow: 3;
        height: 100%;
    }

    // Left side, text
    .left{
        border-right: 1px solid @primary_dark;
        background-color: fade(@primary, 8%);
        background-color: fade(@secondary, 24%);

        .hero-content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            box-sizing: border-box;
            padding: 20px 20px 20px 2vw;
            height: 100%;
            max-width: 600px;

            h1{
                color: @primary_dark;
                font-size: 52px;
                line-height: 70px;
                font-weight: 400;
            }
        }
    }

    // Right side, image
    .right{
        background-size: cover;
        background-position: center;
        background-color: fade(@white, 20%);
        background-blend-mode: lighten;
        background-image: url('https://images.unsplash.com/photo-1541965228869-aea366196127?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2501&q=80');
        // background-image: url('');
        background-image: url('https://images.unsplash.com/photo-1509111884843-33c32e087103?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80');
        background-position: center right;
    }
}