// Home page specific styles
// Different Nav
// Custom elements
// Etc


// PHOTO BREAK
// PHOTO BREAK
// PHOTO BREAK
.photo-break{
    display: block;
    width: 100%;
    height: 100px;
    margin: 25px auto;
    background-size: auto 100px;
    background-position: center center;
    background-image: url('/src/images/shapes/yellow-bars.png');
    background-repeat: no-repeat;
    // filter: grayscale(90%) brightness(110%);
    display: none;

    @media (max-width: @screen_md) {
        background-size: auto 60px;
        background-position: 80% center;
        height: 60px;
        margin: 15px auto;
    }
    @media (max-width: 550px) {
        background-size: auto 70px;
        height: 70px;
        background-position: 120% center;
        position: relative;
        top: -120px;
    }
    @media (max-width: 450px) {
        background-position: 140% center;
    }
}

// ABOUT - SERVICES
// ABOUT - SERVICES
// ABOUT - SERVICES
.about-services{
    display: flex;
    justify-content: space-between;

    @media (max-width: @screen_lg) {
        flex-wrap: wrap;
    }

    .left{
        width: 48%;

        @media (max-width: @screen_lg) {
            width: 44%;
        }
        @media (max-width: @screen_md) {
            width: 100%;
            max-width: 500px;
            margin: 25px auto 55px auto;
        }

        h3{
            font-family: @sans;
            font-size: 52px;
            line-height: 62px;
            color: @ink_darker;
            font-weight: 600;

            @media (max-width: @screen_lg) {
                font-size: 42px;
                line-height: 52px;
            }
            @media (max-width: @screen_md) {
                font-size: 36px;
                line-height: 46px;
            }
            @media (max-width: 450px) {
                font-size: 56px;
                line-height: 62px;
            }
            @media (max-width: 400px) {
                font-size: 40px;
                line-height: 48px;
            }
        }

        p{
            display: block;
            font-family: @sans;
            font-weight: 400;
            font-size: 22px;
            line-height: 42px;
            color: @ink;

            @media (max-width: @screen_lg) {
                font-size: 18px;
                line-height: 28px;
            }

            @media (max-width: @screen_md) {
                line-height: 26px;
                font-size: 16px;
            }

            .accent{
                text-decoration: underline;
                text-decoration-style: dotted;
            }
        }

    }

    .right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 48%;
        box-sizing: border-box;
        padding-left: 80px;

        @media (max-width: @screen_lg) {
            width: 54%;
        }
        @media (max-width: @screen_md) {
            width: 100%;
            max-width: fit-content;
            margin: 0 auto;
            padding-left: 0;
        }

        ul{
            padding: 0;
            margin: 0;

            li{
                display: block;
                width: 100%;
                font-size: 16px;
                box-sizing: border-box;
                padding: 15px;
                font-family: @sans;
                border-bottom: 1px solid fade(@ink, 12%);
                position: relative;

                @media (max-width: @screen_lg) {
                    font-size: 14px;
                }

                b{
                    display: block;
                    font-size: 24px;
                    font-weight: 600;
                    margin-bottom: 5px;

                    @media (max-width: @screen_lg) {
                        font-size: 20px;
                    }
                }

                &:nth-child(1):before{
                    content: '';
                    display: block;
                    height: 40px;
                    width: 40px;
                    background-color: @red_dark;
                    position: absolute;
                    left: -44px;
                    top: 14px;
                }
                &:nth-child(2):before{
                    content: '';
                    display: block;
                    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                    background-color: @primary_light;
                    position: absolute;
                    left: -52px;
                    top: 20px;
                }
                &:nth-child(3):before{
                    content: '';
                    display: block;
                    border-left: 20px solid transparent;
                    border-right: 20px solid transparent;
                    border-bottom: 36px solid @secondary_light;
                    position: absolute;
                    left: -42px;
                    top: 20px;
                }
                &:nth-child(4):before{
                    content: '';
                    display: block;
                    width: 60px;
                    height: 20px;
                    background-color: @yellow;
                    transform: rotate(20deg);
                    position: absolute;
                    left: -64px;
                    top: 25px;
                }
            }
        }
    }
}


// PROJECT DISPLAY
// PROJECT DISPLAY
// PROJECT DISPLAY
.project-display-header{
    display: block;
    font-size: 44px;
    color: @ink_darker;
    font-style: italic;
    font-weight: 600;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}
.project-display{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1000px;
    margin-bottom: 55px;
    margin-top: 50px;

    @media (max-width: @screen_md) {
        flex-wrap: wrap;
    }

    .project{
        width: 45%;
        height: 500px;
        background-color: orange;
        color: @white;
        box-sizing: border-box;
        padding: 15px;
        font-family: @sans;
        text-decoration: none;

        @media (max-width: @screen_md) {
            width: 90%;
            max-width: 400px;
            margin: 0 auto;
        }

        h3{
            font-weight: 500;
            font-size: 24px;
            position: relative;
            width: fit-content;

            &:after{
                content: '';
                display: block;
                position: absolute;
                bottom: -2px;
                left: 0%;
                height: 6px;
                width: 0%;
                z-index: 0;
                transition: 0.15s ease;
            }
        }
        h4{
            font-size: 18px;
            font-weight: 400;
        }


        &.ceev{
            background-image: url('../src/images/projects/ceev.png');
            background-color: @primary_light;
            background-size: 55% auto;
            background-repeat: no-repeat;
            background-position: center 62%;
            position: relative;
            transition: 0.15s;

            @media (max-width: @screen_lg) {
                background-size: 65% auto;
            }
            @media (max-width: @screen_md) {
                left: -5%;
                margin-bottom: 55px;
            }

            &:after{
                content: '';
                background-color: @ink_darker;
                height: 100px;
                width: 100px;
                border-radius: 50%;
                position: absolute;
                bottom: -20px;
                left: -60px;
                transition: 0.15s;
            }

            h3:after{
                background-color: @primary_dark;
            }
        }
        &.keyframes{
            background-image: url('../src/images/projects/keyframes.png');
            background-color: @red_dark;
            background-size: 55% auto;
            background-repeat: no-repeat;
            background-position: center 62%;
            position: relative;
            top: -50px;

            @media (max-width: @screen_lg) {
                background-size: 65% auto;
            }
            @media (max-width: @screen_md) {
                top: 0;
                left: 5%;
            }

            &:after{
                content: '';
                background-color: @yellow;
                height: 40px;
                width: 150px;
                position: absolute;
                bottom: 0;
                right: -30px;
                transform: rotate(-30deg);
                transition: 0.2s;
            }

            h3:after{
                background-color: darken(@red_darker, 8%);
            }
        }


        // Hover States
        &:hover{
            cursor: pointer;

            h3{
                
                &:after{
                    width: 100%;
                    transition: 0.15s;
                }
            }

            &.ceev{
                background-size: 59% auto;
                &:after{
                    left: -30px;
                    transition: 0.15s;
                }

                @media (max-width: @screen_lg) {
                    background-size: 70% auto;
                }
            }
            &.keyframes{
                background-size: 59% auto;
                &:after{
                    transition: 0.2s;
                    transform: rotate(130deg);
                }

                @media (max-width: @screen_lg) {
                    background-size: 70% auto;
                }
            }
        }
    }
}

// All Project Link
// All Project Link
// All Project Link
.all-projects{
    text-align: center;
    margin-bottom: 55px;
}

// CALL TO ACTION
// CALL TO ACTION
// CALL TO ACTION
.home-cta{
    width: 100%;

    

    .cta-content{
        display: block;
        margin: 0 auto 35px auto;
        width: 100%;
        max-width: 550px;
        padding: 0 15px;
        box-sizing: border-box;

        @media (max-width: @screen_md) {
            margin-bottom: 55px;
        }

        h1{
            font-size: 50px;
            line-height: 60px;
            margin-bottom: 15px;
            color: @ink_darker;

            @media (max-width: @screen_md) {
                font-size: 40px;
                line-height: 50px;
            }
        }
    }


    .cta-footer{
        display: flex;
        justify-content: center;
        width: 100%;

        .box{
            display: block;
            height: 120px;
            width: 120px;
            min-height: 120px;
            min-width: 120px;

            
            &:nth-child(1){
                background-image: url('/src/images/shapes/square-circles.png');
                background-size: 100% auto;
                margin-right: 240px;

                @media (max-width: @screen_md) {
                    margin-right: 0;
                }
            }
            &:nth-child(2){
                background-image: url('/src/images/shapes/stairs.png');
                background-size: 100% auto;
            }
            &:nth-child(3){
                background-image: url('/src/images/shapes/yellow-x.png');
                background-size: 100% auto;
            }
            &:nth-child(4){
                margin-left: 120px;
                background-image: url('/src/images/shapes/black-square.png');
                background-size: 100% auto;

                @media (max-width: @screen_md) {
                    margin-left: 0;
                }
            }
        }
    }
    
    .row{
        display: flex;
        justify-content: center;

        .group{
            display: flex;
            width: 600px;
            min-width: 600px;
            max-width: 600px;
            height: 150px;
            position: relative;
            flex-wrap: wrap;
            left: -475px;
            background-color: @white;


            .box{
                width: 150px;
                height: 150px;
                min-height: 150px;
                min-width: 150px;
                max-height: 150px;
                min-height: 150px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;

                
            }
        }
    }
}
