<!DOCTYPE html>
<html>
<head>
    {% set page_title = "Hotdish | Contact." %}
    {% set meta_desc = "Hotdish is a Minneapolis-based Design & Development studio working to make the internet a better place." %}
    {% set theme_color = "#000000" %}
    {% set share_title = "Hotdi.sh" %}
    {% set share_desc = "Hotdish is a Minneapolis-based Design & Development studio working to make the internet a better place." %}
    {% set share_url = "https://hotdi.sh/" %}
    {% set fb_img = "https://hotdi.sh/src/images/branding/meta/Facebook.png" %}
    {% set tw_img = "https://hotdi.sh/src/images/branding/meta/Twitter.png" %}

    {% set projects = [
        {
            slug: "ceev",
            name: "Ceev.io",
            short_desc: "Design a better resume",
            image: "ceev.png"
        },{
            slug: "keyframes",
            name: "Keyframes.app",
            short_desc: "Create CSS animations in your browser",
            image: "keyframes.png"
        }
    ] %}


    {% include "../i/includes/header.html" %}
</head>
<body>

    <!-- Nav -->
    {% include "../i/includes/nav.html" %}


    <!-- 
        Hero
    -->
    <div class="hero xs-mb-30 lg-mb-50 xs-mt-75 md-mt-5 lg-mt-25">
        <!-- Hero Text -->
        <div class="hero-text xs-mt-50 md-mt-75 lg-mt-100">
            <h1>
                Some of our finest work.
                <!-- Hot & Fresh -->
            </h1>
            <h2 class="xs-mt-15 lg-mt-30">
                Templates and site builders have their place, but it's not here. All of our projects are fresh & original.
            </h2>
            <div class="image left down">
                <img src="/src/images/shapes/projects.png"/>
            </div>
            <div class="image right up">
                <img src="/src/images/shapes/projects-2.png"/>
            </div>
        </div>
    </div>

    <!-- 
        Photo break
     -->
     <div class="photo-break"></div>




    <!-- 
        Project Display (1)
     -->
     <div class="project-display xs-p-15 md-p-25 lg-p-50">
         <a class="project ceev" href="#">
             <h3>Ceev.io</h3>
             <h4>Design a better resume</h4>
         </a>
         <a class="project keyframes" href="#">
             <h3>Keyframes.app</h3>
             <h4>Create CSS animations in your browser</h4>
         </a>
     </div>

    <!--
    Footer
    -->
    {% include "../i/includes/footer.html" %}
    
</body>
</html>
