<!DOCTYPE html>
<html>
<head>
    {% set page_title = "Cold-dish." %}
    {% set meta_desc = "404. We couldn't find the page you were looking for." %}
    {% set theme_color = "#0629E2" %}
    {% set share_title = "404!! | Hotdi.sh" %}
    {% set share_desc = "The dish has gotten cold. We couldn't find that page." %}
    {% set share_url = "https://hotdi.sh/404.html" %}
    {% set fb_img = "https://hotdi.sh/src/images/branding/meta/Facebook.png" %}
    {% set tw_img = "https://hotdi.sh/src/images/branding/meta/Twitter.png" %}


    {% include "./i/includes/header.html" %}
</head>
<body>
    <!-- 
    Nav
    -->
    {% include "./i/includes/nav.html" %}

    <button>404!!!!</button>

    <!-- 
    Footer
    -->
    {% include "./i/includes/footer.html" %}
</body>
</html>