<!DOCTYPE html>
<html>
<head>
    {% set page_title = "Hotdish | Making cool things." %}
    {% set meta_desc = "" %}
    {% set theme_color = "#030508" %}
    {% set share_title = "Hotdi.sh" %}
    {% set share_desc = "" %}
    {% set share_url = "https://hotdi.sh/" %}
    {% set fb_img = "https://hotdi.sh/src/images/branding/meta/Facebook.png" %}
    {% set tw_img = "https://hotdi.sh/src/images/branding/meta/Twitter.png" %}


    {% include "./i/includes/header.html" %}
</head>
<body>

    <!--
        Inspiration:
        https://www.dimshome.com/
     -->


    <!-- Nav -->
    {% include "./i/includes/nav.html" %}


    <!-- Home Hero -->
    <div class="standard-width xs-pl-25 xs-pr-25">
        <div class="home-hero">
            <div class="left">
                <div class="hero-content xs-pl-30 xs-pr-30 xs-pb-30 xs-pt-50 md-pt-150 lg-pl-40 lg-pb-40 lg-pr-40 lg-pt-200">
                    <h1>Building neat things on the internet.</h1> 
                </div>
            </div>
            <div class="right xs-p-40 lg-p-75">
                <div class="hero-content">
                    <img src="/src/images/mn.svg"/>
                    <div class="description">
                        I'm Mitch Samuels, a Minneapolis-based frontend developer. <b>Hotdish is the home for whatever I'm working on.</b>
                    </div>
                    <div class="arrow">
                        <div class="square"></div>
                        <div class="square point"></div>
                    </div>
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
    

    <!-- Centered Hero -->
    <div class="hero-centered">
        <span>
            I'm still trying to decide what I want to do with this site. For now, here's a simple list of what I'm working on.
        </span>

        <ul>
            <li>
                <a href="https://ceev.io" target="_blank">Ceev.io</a> - Design a stunning resume in minutes.
            </li>
            <li>
                <a href="https://keyframes.app" target="_blank">Keyframes.app</a> - Create CSS animations right in your browser.
            </li>
            <li>
                <a href="https://github.com/mitchas/glass-browser" target="_blank">Glass Browser</a> - A transparent floating browser built on Electron.
            </li>
            <li>
                <a href="https://github.com/mitchas/ffftp" target="_blank">FFFTP</a> - A dead-simple FTP client.
            </li>
        </ul>
    </div>

    <!--
    Footer
    -->
    {% include "./i/includes/footer.html" %}
</body>
</html>
