<!DOCTYPE html>
<html>
<head>
    {% set page_title = "Hotdish | Design & Development." %}
    {% set meta_desc = "Hotdish is a Minneapolis-based Design & Development studio working to make the internet a better place." %}
    {% set theme_color = "#000000" %}
    {% set share_title = "Hotdi.sh" %}
    {% set share_desc = "Hotdish is a Minneapolis-based Design & Development studio working to make the internet a better place." %}
    {% set share_url = "https://hotdi.sh/" %}
    {% set fb_img = "https://hotdi.sh/src/images/branding/meta/Facebook.png" %}
    {% set tw_img = "https://hotdi.sh/src/images/branding/meta/Twitter.png" %}


    {% include "./i/includes/header.html" %}
</head>
<body>

    <!-- Nav -->
    {% include "./i/includes/nav.html" %}

    <div class="hero xs-mb-30 lg-mb-50 xs-mt-75 md-mt-5 lg-mt-25">
        <!-- Hero Text -->
        <div class="hero-text xs-mt-50 md-mt-75 lg-mt-100">
            <h1>
                Hotdish builds neat things on the internet.
            </h1>
            <h2 class="xs-mt-25 lg-mt-50">
                We're a Minneapolis-based design & development studio working to make the internet a <span class="accent">better</span> place.
                <!-- We're a Minneapolis-based design & development studio that works with startups and small businesses to create things people remember. -->
            </h2>
            <div class="image left down">
                <img src="/src/images/shapes/tree-dots.png"/>
            </div>
            <div class="image right up">
                <img src="/src/images/shapes/superior.png"/>
            </div>
        </div>
    </div>

    <!-- 
        Photo break
     -->
     <div class="photo-break"></div>


     <!-- 
         About - Services
      -->
    <div class="about-services standard-width xs-p-15 md-p-25 lg-p-50 xs-mb-50 lg-mb-100 xs-mt-10 lg-mt-50">
        <div class="left">
            <h3>Bringing Minnesota Nice online.</h3>
            <p class="xs-mt-15 lg-mt-30">
                <!-- Hotdish is here to help ambitious people run small businesses and launch startups. -->
                We design and develop products people want to use, with a focus on simplity, privacy, and usability. Sometimes we launch our own products, but <span class="accent">we're mainly here to help startups and small businesses succeed online.</span>
            </p>
        </div>
        <div class="right">
            <ul>
                <li>
                    <b>Web Design & Development</b>
                    Full-stack, projects of all shapes and sizes.
                </li>
                <li>
                    <b>Progressive Web Apps</b>
                    Our websites can also be mobile applications.
                </li>
                <li>
                    <b>Branding & Messaging</b>
                    Name, logo, colors, words, whatever.
                </li>
                <li>
                    <b>Media & Marketing</b>
                    Print design, videos, social media.
                </li>
            </ul>
        </div>
    </div>




    <!-- 
        Project Display (1)
     -->
     <div class="project-display-header xs-pb-25 lg-pb-50">
         Take a gander at some of our projects
     </div>
     <div class="project-display xs-p-15 md-p-25 lg-p-50">
         <a class="project ceev" href="#">
             <h3>Ceev.io</h3>
             <h4>Design a better resume</h4>
         </a>
         <a class="project keyframes" href="#">
             <h3>Keyframes.app</h3>
             <h4>Create CSS animations in your browser</h4>
         </a>
     </div>

     <!-- 
         Link to all projects
      -->
    <div class="all-projects">
        <a href="/work" class="outline">View the rest of our work</a>
    </div>


    <!-- 
        Call to Action
     -->
    <div class="home-cta xs-mt-75 lg-mt-150">

        <div class="cta-content">
            <h1>Interested in working together?</h1>
            <a href="/contact" class="outline">Contact Us</a>
        </div>


        <div class="cta-footer">
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
        </div>
    </div>


    <!--
    Footer
    -->
    {% include "./i/includes/footer.html" %}
    
</body>
</html>
