<!DOCTYPE html>
<html>
<head>
    {% set page_title = "Hotdish | Making cool things." %}
    {% set meta_desc = "" %}
    {% set theme_color = "#030508" %}
    {% set share_title = "Hotdi.sh" %}
    {% set share_desc = "" %}
    {% set share_url = "https://hotdi.sh/" %}
    {% set fb_img = "https://hotdi.sh/src/images/branding/meta/Facebook.png" %}
    {% set tw_img = "https://hotdi.sh/src/images/branding/meta/Twitter.png" %}


    {% include "./i/includes/header.html" %}
</head>
<body>

    <!--
        Inspiration:
        https://www.dimshome.com/
     -->


    <!-- Nav -->
    {% include "./i/includes/nav.html" %}


    <!-- Home Hero -->
    <div class="home-hero">
        <div class="left">
            <div class="hero-content">
                <h1>Bringing Minnesota Nice to the internet.</h1>
            </div>
        </div>
        <div class="right">
        </div>
    </div>

    <!--
    Footer
    -->
    {% include "./i/includes/footer.html" %}
</body>
</html>
