// Site Base
html{
    background-color: #FFFFFF;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: screen;
}
body{
    // background-color: lighten(@primary, 51%);
    // background-image: linear-gradient(45deg, lighten(@secondary, 53%), lighten(@primary, 52%));
    // background-color: lighten(@secondary, 50%);
    font-family: @sans;
    height: fit-content;
    overflow-x: hidden;
}


// HEADER AND
// NAV NAV NAV NAV
// NAV NAV NAV NAV
// NAV NAV NAV NAV
header.main{
    display: flex;
    justify-content: space-between;
    z-index: 500;

    .branding{
        display: flex;
        flex-direction: column;
        justify-content: center;

        .logo{
            background-color: @white;
            box-sizing: border-box;
            padding: 5px;
            position: sticky;
            top: 0;
            left: 0;

            img{
                display: block;
                width: 50px;
                height: auto;
            }
        }
    }

    nav.main{
        display: flex;
        justify-content: flex-end;
        flex-grow: 3;

        .link{
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            margin-left: 25px;

            @media (max-width: @screen_sm) {
                margin-left: 18px;
            }

            a{
                position: relative;
                z-index: 10;
                text-decoration: none;
                font-weight: 500;
                font-family: @sans;
                font-size: 18px;
                color: @ink_darker;
                background-color: white;
                box-sizing: border-box;
                padding: 5px;

                @media (max-width: @screen_sm) {
                    font-size: 16px;
                    padding: 4px;
                }

                &:after{
                    content: " ";
                    transition: @transition;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    height: 5px;
                    width: 100%;
                    z-index: -1;
                    border-radius: 0;
                }
                &:hover{
                    &:after{
                        transition: @transition;
                    }
                }
            }

            // First Link
            &:nth-child(1) a{
                &:after{
                    background-color: fade(@primary, 10%);
                }
                &:hover{
                    color: @primary_dark;
                    &:after{
                        height: 22px;
                        left: 4px;
                        bottom: -6px;
                    }
                }
            }
            // Second Link
            &:nth-child(2) a{
                &:after{
                    background-color: fade(@red, 15%);
                }
                &:hover{
                    color: @red_dark;
                    &:after{
                        height: 34px;
                        left: -4px;
                        bottom: 5px;
                    }
                }
            }
            // Third Link
            &:nth-child(3) a{
                &:after{
                    background-color: fade(@secondary, 10%);
                }
                &:hover{
                    color: darken(@secondary, 8%);
                    &:after{
                        height: 20px;
                        left: 0px;
                        bottom: -10px;
                    }
                }
            }
        }

    }
}


// FOOTER FOOTER
// FOOTER FOOTER
// FOOTER FOOTER
footer.main{
    background-color: @ink_darker;
    position: relative;

    .footer-content{
        display: flex;
        justify-content: space-between;

        .left{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            .logo{

                img{
                    width: 70px;
                    height: auto;

                    @media (max-width: @screen_md) {
                        width: 50px;
                    }
                }
            }
        }
        .right{
            display: flex;
            flex-direction: column;
            justify-content: center;

            @media (max-width: @screen_md) {
                justify-content: space-between;
            }

            .links{

                a{
                    color: @white;
                    text-decoration: none;
                    font-size: 18px;
                    margin-left: 20px;
                    font-weight: 500;

                    @media (max-width: @screen_sm) {
                        font-size: 15px;
                        margin-left: 12px;
                    }

                    &:hover{
                        text-decoration: underline;
                    }
                }
            }

            .copyright,
            .mobile-spacer{
                font-size: 14px;
                color: fade(@white, 30%);
                display: block;
                text-align: right;
                margin-top: 15px;

                @media (max-width: @screen_sm) {
                    font-size: 12px;
                }
            }

            .mobile-spacer{
                margin-bottom: 15px;
                display: none;
                @media (max-width: @screen_md) {
                    display: block;
                }
            }
        }
    }

    &:after{
        content: 'Ope. What\'cha you doing down here?';
        width: 100%;
        bottom: 0;
        left: 0;
        text-align: center;
        color: @ink_darker;
        background-color: @white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 140px;
        font-size: 20px;
        line-height: 26px;
        font-weight: 500;
        position: fixed;
        bottom: -140px;
        z-index: -10;
    }
}



// Button Link
// Button Link
// Button Link
a.outline{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    width: fit-width;
    border: 1px solid @ink_darker;
    box-sizing: border-box;
    padding: 0 30px;
    border-radius: 30px;
    font-size: 16px;
    text-decoration: none;
    text-decoration-style: none;
    height: 50px;
    line-height: 18px;

    &:hover{
        text-decoration: underline;
        background-color: @ink_darker;
        color: @white;
    }
}


