
<!-- Main Text / Hero -->
<div class="">
	{# <h1>
		Minnesota Nice<sup onclick="scrollToEl('define-nice')"><i class="fas fa-asterisk"></i> 1</sup>
		<br/>meets the internet
	</h1> #}
	<div id="logo">
		<img src="{{ '/img/logo.svg' | url }}" id="homeLogo"/>
		<h1>hotdish</h1>
	</div>


	<div id="homeText">
		<b>Trying to make the internet a little less bad</b>
		<small>
			Building websites and apps without all the nonsense you see everywhere else. 
			<br/>
			<br/>
			Focused on usability, privacy, and simplicity. 
			<br/>
			<br/>
			Made in Minnesota.
		</small>
	</div>


	<div id="homeNo" class="no-scrollbars">
		No ads —
		No popups —
		No "crypto" —
		No "web3" —
		No AI —
		No invasive tracking —
		No social media plugins —
		No spam —
		No algorithms —
		No personal information —
		No NFTs —
		No microtransactions 
	</div>


	<p class="big" id="homeP1">
		A comfortable mix of business and pleasure. 
		50% passion projects, 50% working with local businesses to design and build websites & mini-applications for events, announcements, data visualization, & more.
	</p>
	<p>
		Need a little app or website? Send us an email at <b>hello@hotdi.sh</b>
	</p>


	<h1 id="projectHeader">
		Projects
	</h1>
	<div id="projectLinks">
		<a href="https://things.mn" target="_blank">Things.mn</a>
		<a href="https://keyframes.app" target="_blank">Keyframes.app</a>
		<a href="https://howdy.autos" target="_blank">Howdy.autos</a>
		<a href="https://ceev.io" target="_blank">Ceev.io</a>
	</div>



	hello@hotdi.sh

	
</div>

