
<!-- Main Text / Hero -->
<div class="home-big-text padded">
	<h1>
		Minnesota Nice<sup onclick="scrollToEl('define-nice')"><i class="fas fa-asterisk"></i> 1</sup>
		<br/>meets the internet
	</h1>
	<p>
		We're making the internet a little nicer by building practical<sup onclick="scrollToEl('practical')"><i class="fas fa-asterisk"></i> 2</sup> websites & apps without all the clutter and nonsense<sup onclick="scrollToEl('nonsense')"><i class="fas fa-asterisk"></i> 3</sup>
	</p>
</div>


<!-- Marquee -->
<div id="homeMarqueeScroll">

	<div id="homeMarquee">
		<span>Oh, fer pete's sake <i class="far fa-face-hand-peeking"></i></span>
		<span>Just like mom used to make <i class="far fa-cookie"></i></span>
		<span>No, yeah no <i class="far fa-seal-question"></i></span>
		<span>Not too spendy <i class="far fa-money-bill-wave"></i></span>
		<span>What interesting designs <i class="far fa-face-clouds"></i></span>
		<span>Cold yet friendly <i class="far fa-snowflake"></i></span>
		<span>We make websites? You betcha <i class="far fa-thumbs-up"></i></span>
	</div>

</div>



<!-- House Rules -->
<div class="padded" id="houseRulesWrapper">

	<div id="houseRules">
		<h1>House Rules</h1>
		<ul>
			<li>
				<div class="hr-icons">
					<i class="far fa-ad"></i>
					<i class="fal fa-ban"></i>
				</div>
				<div>No creepy ad networks<sup onclick="scrollToEl('ad-networks')"><i class="fas fa-asterisk"></i> 4</sup></div>
			</li>
			<li>
				<div class="hr-icons">
					<i class="far fa-eye"></i>
					<i class="fal fa-ban"></i>
				</div>
				<div>No invasive tracking<sup onclick="scrollToEl('invasive-tracking')"><i class="fas fa-asterisk"></i> 5</sup></div>
			</li>
			<li>
				<div class="hr-icons">
					<i class="far fa-window"></i>
					<i class="fal fa-ban"></i>
				</div>
				<div>No popups with tiny Xs<sup onclick="scrollToEl('deceptive-design')"><i class="fas fa-asterisk"></i> 6</sup></div>
			</li>
			<li>
				<div class="hr-icons">
					<i class="far fa-sack-dollar"></i>
					<i class="fal fa-ban"></i>
				</div>
				<div>No content paywalls<sup onclick="scrollToEl('paywalls')"><i class="fas fa-asterisk"></i> 7</sup></div>
			</li>
			<li>
				<div class="hr-icons">
					<i class="far fa-thumbs-up"></i>
					<i class="fal fa-ban"></i>
				</div>
				<div>No social media plugins<sup onclick="scrollToEl('social-media')"><i class="fas fa-asterisk"></i> 8</sup></div>
			</li>
			<li>
				<div class="hr-icons">
					<i class="far fa-code"></i>
					<i class="fal fa-circle"></i>
				</div>
				<div>Often open source<sup onclick="scrollToEl('open-source')"><i class="fas fa-asterisk"></i> 9</sup></div>
			</li>
		</ul>
	</div>

</div>


{# <h1 id="tableHeader">Enjoy our project potluck</h1> #}
{# <h1 id="tableHeader">Our smörgåsbord of projects</h1> #}


<!-- Table -->
<!-- Projects -->
<div id="homeTableScroll" class="no-scrollbars">
	<div id="homeTable">

		<!-- Things.mn -->
		<a id="tableMac" class="table-food" href="https://things.mn" target="_blank">
			<b>things.mn</b>
			<span>A website to discover things in Minnesota.</span>
		</a>
		<!-- Keyframes.app -->
		<a id="tableKiwi" class="table-food" href="https://keyframes.app" target="_blank">
			<i class="fas fa-spoon" id="tableKiwiSpoon"></i>
			<b>keyframes.app</b>
			<span>Simple, useful tools for web developers.</span>
		</a>
		<!-- Ceev.io -->
		<a id="tablePasta" class="table-food" href="https://ceev.io" target="_blank">
			<b>Ceev.io</b>
			<span>Create a good looking resume in minutes.</span>
		</a>

		<div class="table-flex-grow"></div>

		<!-- More Soon -->
		<div id="tableMore" class="table-food">
			<b>Ope</b>
			<span>Long table — looks like plenty of room for more projects. Check back soon.</span>
		</div>

	</div>
</div>



<!-- Marquee -->
<div id="homeMarqueeScroll" class="purple">

	<div id="homeMarquee">
		<span>hello@hotdi.sh <i class="far fa-paper-plane"></i></span>
		<span>Say Hello <i class="far fa-comments"></i></span>
		<span>hello@hotdi.sh <i class="far fa-paper-plane"></i></span>
		<span>Need a website or app? <i class="far fa-code"></i></span>
		<span>hello@hotdi.sh <i class="far fa-paper-plane"></i></span>
		<span>Want to work together? <i class="far fa-handshake"></i></span>
		<span>hello@hotdi.sh <i class="far fa-paper-plane"></i></span>
		<span>Get in touch <i class="far fa-hand-wave"></i></span>
		<span>hello@hotdi.sh <i class="far fa-paper-plane"></i></span>

	</div>

</div>



<ul id="disclaimers" class="padded">
	<li id="define-nice">
		<b><i class="fas fa-asterisk"></i> 1 - Minnesota Nice</b>
		<p>We'll give you all the tools and information you want or need - just don't make it too personal.</p>
	</li>
	<li id="practical">
		<b><i class="fas fa-asterisk"></i> 2 - Practical</b>
		<p>Many of our projects are smaller, single purpose sites that do what you expect, and nothing more.</p>
	</li>
	<li id="nonsense">
		<b><i class="fas fa-asterisk"></i> 3 - No clutter, no nonsense</b>
		<p>No NFTs or Crypto, email spam, pages where you have to click through a hundred individual slides to find what you wanted, crazy password restrictions, etc</p>
	</li>
	<li id="ad-networks">
		<b><i class="fas fa-asterisk"></i> 4 - No ad networks</b>
		<p>None of our projects use any third party ads. Any ads are designed and created specifically for the project with local partners.</p>
	</li>
	<li id="invasive-tracking">
		<b><i class="fas fa-asterisk"></i> 5 - No invasive tracking</b>
		<p>Only basic analytics data is collected - without using cookies or other invasive trackers. Our analytics is self-hosted, so what little data we do collect is not shared with third parties.</p>
	</li>
	<li id="deceptive-design">
		<b><i class="fas fa-asterisk"></i> 6 - No tiny popup Xs</b>
		<p>Our projects are designed to be as easy as possible to use. Things are where you expect, do what you expect, and look good, too.</p>
	</li>
	<li id="paywalls">
		<b><i class="fas fa-asterisk"></i> 7 - No content paywalls</b>
		<p>We may offer paid upgrades for bonus features, but every project can be enjoyed without paying and without giving us your email.</p>
	</li>
	<li id="social-media">
		<b><i class="fas fa-asterisk"></i> 8 - No social media plugins</b>
		<p>For privacy (and mental health) reasons, we keep our projects free of social media and other third party plugins.</p>
	</li>
	<li id="open-source">
		<b><i class="fas fa-asterisk"></i> 9 - Often open source</b>
		<p>Most of our projects are open source. Double-check that what we're saying here is true, if you'd like.</p>
	</li>
</ul>