@import 'screen-breaks.scss';:root {
    // Transitions
    --transition: 0.2s;

    // Borders
    --borderRadius: 4px;
	--borderWidth: 6px;

	// Colors
	--background: #FFFFFF;
	--accent: #EE2677;
	--bright: #00E8FC;
	--purple: #C1BFF8;
	--yellow: #ffe734;
	--white: #FFFFFF;
	--blue: #0046DC;
    --text: #000000;
}


// Dark Theme changes
[data-theme="dark"] {

}
